@font-face {
  font-family: 'Neue Montreal';
  /* font-style: normal;
  font-weight: normal; */
  src: local('Neue Montreal'), url('../font/ppneuemontreal-thin.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal-regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Montreal'), url('../font/Neue\ Montreal\ Regular\ 400.woff') format('woff');
  }

@font-face {
  font-family: 'Neue Montreal-medium';
  src: url('../font/ppneuemontreal-medium.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal-semi';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Montreal-semi'), url('../font/ppneuemontreal-semibolditalic.woff') format('woff');
  }

@font-face {
  font-family: 'Neue Montreal-bold';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Montreal-bold'), url('../font/ppneuemontreal-bold.woff') format('woff');
}


*{
    margin: 0;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none;
}


body {
  color: #4b5b70;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  background-color: #fff;
}

:root {
  --primary: #164d92;
  --light: #f1f8ff;
  --dark: #0f172b;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    padding: 0 5%;

}
nav .logo { 
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: baseline;
    font-size: 24px;
    color: #fff;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
nav .links li {
    list-style: none;
    padding-bottom: 16px;
}
nav .links a {
    display: block;
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin: 0;
}
nav .links a:hover {
    color: white;
}
nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: white;
}
#nav-toggle {
     position: absolute;
     top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 12%;
    transform: translateY(-50%);
    z-index: 100;
}
nav .icon-burger .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 7px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 100%;
        right: 0;
        top: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 26px;
    }
    nav :checked ~ .links {
        left: 0;
    }
    nav .icon-burger {
        display: block;
        /* position: fixed;
        top: 70px; */
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    nav .links li {
        list-style: none;
        padding-bottom: 35px;
    }
}

/*--------------------------------------------------------------
# header End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# loading
--------------------------------------------------------------*/

  .loading-block {
    position: fixed;
    background: #ffffff;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loading-block_logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.loading-block_logo img {
    width: 260px;
}

.fadeUp {
    opacity: 0;
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnime {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(100px);
    }
}
  
/*--------------------------------------------------------------
# loading End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.progress-wrap {
	position: fixed;
    right: 15px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 20%);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: #000000;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
/* 	background-image: linear-gradient(298deg, var(--red), var(--yellow)); */
    /* background-color: #000; */
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: #000000af;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


  /*--------------------------------------------------------------
  # footer
  --------------------------------------------------------------*/

    .footer-top {
        margin-bottom: 20px;
    }

    .footer-dsclinx{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-dsclinx h1{
        color: #B1B1B1;
        font-family: 'Neue Montreal-medium';
        font-size: 13vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .footer-details p{
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0;
    }

    .Copyright {
        display: flex;
        justify-content: end;
    }

    .Copyright p{
        margin: 0;
        padding: 0;
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -50px;
    }

    @media(max-width:992px) {
    .logo-dsclinx h1 {
        color: #B1B1B1;
        font-family: 'Neue Montreal-medium';
        /* font-size: 130.92px; */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .Copyright p {
        margin: 0;
        padding: 0;
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -20px;
    }
    }

@media(max-width:768px) {
    .logo-dsclinx h1 {
        color: #B1B1B1;
        font-family: 'Neue Montreal-medium';
        /* font-size: 100.92px; */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .Copyright p {
        margin: 0;
        padding: 0;
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0px;
    }
    .footer-details p {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0;
        margin-bottom: 10px;
    }

}
    @media(max-width:600px) {
    .footer-dsclinx {
        display: block;
        padding-top: 15px;
    }  
    .Copyright {
        display: flex;
        justify-content: flex-start;
    }
    .footer-details {
        display: flex;
        column-gap: 14px;
        padding-bottom: 10px;
    }
    .head-together h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    }

  /*--------------------------------------------------------------
  # footer End
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # contact-us
  --------------------------------------------------------------*/

.contact-us{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay {
    background-color: #00000049;
    opacity: .5;
    transition: background .3s,border-radius .3s,opacity .3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.contact-txt {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.contact-txt h1{
    color: #FFF;
    text-align: center;
    font-family: 'Neue Montreal-regular';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contact-txt p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


.lets-together{
    padding-top: 25px;
}

.conatct-line{
    padding-left: 0px;
}

.grid-social{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.social-sec{
    display: flex;
    justify-content: space-between;
}

.card-social{
    border-bottom: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    padding: 26px 35px;
}

.social-inner-div {
    height: 230px;
}

.line {
    border: 1px solid #B1B1B1;
}

.social-num{
    color: #B1B1B1;
    font-family: 'Neue Montreal';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style: none;
}

.social-sec h6{
    color: #000;
    text-align: right;
    font-family: 'Neue Montreal-medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social-sec i{
    color: #000;
}

.head-together{
    padding: 29px 20px;
}

.head-together h1{
    color: #000;
    font-family: 'Neue Montreal-medium';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0px;
    height: 60px;
}

.form-group{
    padding-bottom: 15px;
}

.conatct-form{
    padding-top: 40px;
}

.submit-form{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 55px;
}

  .butn-circle {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
    color: #B1B1B1;
}

  .butn-circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

  .butn-circle:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.butn-circle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000000;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.butn-circle:hover span{
    color: #ffffff;
}

.butn-circle span {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    position: relative;
    z-index: 2;
}

  .form-check-input:checked {
    background-color: #000000;
    border-color: #ffffff;
}


@media(max-width:992px) {
    .contact-txt h1 {
        color: #FFF;
        text-align: center;
        font-size: 63px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .contact-txt p {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .head-together h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .card-social {
        border-bottom: 1px solid #B1B1B1;
        border-left: 1px solid #B1B1B1;
        border-right: 0px solid #B1B1B1;
    }
    .conatct-line{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:768px) {
    .contact-us img {
        object-fit: cover;
        height: 100%;
    }
    /* .contact-us {
        height: 100vw;
    } */
    .social-inner-div {
        height: 150px;
    }
}

@media(max-width:600px) {
    /* .grid-social {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } */
    .butn-circle {
        width: 120px;
        height: 120px;
    }    
    .contact-txt h1 {
        color: #FFF;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .logo-dsclinx h1 {
        padding-bottom: 10px;
    }
    .head-together {
        padding: 29px 0px;
    }
    .social-inner-div {
        height: 80px;
    }
    .card-social {
        padding: 15px 15px;
    }
    .social-sec h6 {
        font-size: 18px;
    }
    .social-sec {
        display: flex;
        justify-content: center;
        align-items: baseline;
        column-gap: 12px;
    }
}

  /*--------------------------------------------------------------
  # contact-us End
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/

  .about-section {
    padding-top: 54px;
    padding-bottom: 20px;
  }

  .section-about-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px; 
  }

  .grid-about-sect2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .sect2-about-outer{
    padding: 29px;
    border: 1px solid #B1B1B1;
  }

  .sect2-about-inner{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .square{
    width: 18px;
    height: 18px;
    background: #D9D9D9;
  }

  .sect2-about-inner p {
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .about-sect2-height{
    height: 87px;
  }

  .about-inner-text span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .about-inner-text h1{
    color: #000;
    font-family: 'Neue Montreal-medium';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .about-inner-text p{
    color: #000;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 476px;
  }

  .sect2-about-outer p {
    color: #000;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

.why-us{
    background-image: url('../images/pexels-gül-işık-11538103\ 1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    height: 530px;
    position: relative;
}

.grid-why-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 230px;
}

.why-us-outer{
    padding-top:30px;
    padding-left: 18px;
    width: 70%;
}

.why-us-outer span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.why-us-outer h1{
    color: #FFF;
    font-family: 'Neue Montreal-medium';
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.why-us-outer p{
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why-us-sect2-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-top: 24px;  
}

.why-us-sect2-txt h6{
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.why-us-sect2-txt p{
    color: #FFF;
    text-align: right;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sect-2-whyus{
    width: 60%;
}

.why-us .sect-2-whyus{
    margin-top: auto;   
}

@media(max-width:992px) {
    .section-about-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 50px;
    }
    .grid-why-us {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 70px;
    }
    .why-us-outer h1 {
        color: #FFF;
        font-family: 'Neue Montreal-medium';
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .about-inner-text p {
        color: #000;
        font-family: Neue Montreal;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }
}

@media(max-width:768px) {
    .why-us-outer h1 {
        color: #FFF;
        font-family: 'Neue Montreal-medium';
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .grid-why-us {
        display: contents;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 70px;
    }
    .why-us-outer {
        padding-top: 30px;
        padding-left: 18px;
        width: 100%;
    }
    .sect-2-whyus {
        width: 100%;
    } 
    .why-us {
        background-image: url(../images/pexels-gül-işık-11538103\ 1.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
    }
    .sect-2-whyus{
        padding-bottom: 30px;
        padding-left: 18px;
    }
} 


@media(max-width:600px) {
    .grid-about-sect2 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .about-inner-text h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .why-us-outer h1 {
        color: #FFF;
        font-family: 'Neue Montreal-medium';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .sect-2-whyus{
        padding-bottom: 30px;
        padding-left: 0px;
    }
    .why-us-outer {
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }
}

  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/

.service-txt {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-left: 5px;
}

.service-txt h1 {
    color: #FFF;
    font-family: 'Neue Montreal-regular';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 1040px;
}

.service-txt p {
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 480px;
}

.our-services span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.our-services h1{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.sect-our-services{
    padding-top: 100px;
    padding-bottom: 50px;
}

.grid-service{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 20px;
    gap: 15px;
    padding-bottom: 20px;
}

.sect2-service-outer {
    padding: 29px;
    border: 1px solid #B1B1B1;
}

.sect2-service-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sect2-service-outer p {
    color: #000000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.service-sect2-height {
    height: 150px;
}

.sect2-service-inner i{
    color: #B1B1B1;
}

@media(max-width:1100px) {
    .service-txt h1 {
        width: 100%;
    }
}

@media(max-width:992px) {
    .our-services h1 {
        font-size: 70px;
    }
}

@media(max-width:768px) {
    .service-txt p {
        width: 100%;
    }
    .grid-service {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 20px;
        gap: 15px;
        padding-bottom: 20px;
    }
    .our-services h1 {
        font-size: 50px;
    }
    .service-txt h1 {
        color: #FFF;
        font-family: 'Neue Montreal-regular';
        font-size: 63px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}

@media(max-width:768px) {
    .service-txt h1 {
        color: #FFF;
        font-family: 'Neue Montreal-regular';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .grid-service {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 20px;
        gap: 15px;
        padding-bottom: 20px;
    }
    .our-services h1 {
        font-size: 40px;
    }
}


  /*--------------------------------------------------------------
  # Projects
  --------------------------------------------------------------*/

  .grid-projects {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }

  .proj-card {
    border: 1px solid #B1B1B1;
    border-radius: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    padding: 20px;
    cursor: pointer;
  }

  .our-projects{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .card-title{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  @media(max-width:992px) {
    .grid-projects {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
      }    
  }

  @media(max-width:768px) {
    .grid-projects {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
      }    
  }

  @media(max-width:600px) {
    .grid-projects {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
      }    
  }