@font-face {
  font-family: 'Neue Montreal';
  /* font-style: normal;
  font-weight: normal; */
  src: local('Neue Montreal'), url('../font/ppneuemontreal-thin.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal-regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Montreal'), url('../font/Neue\ Montreal\ Regular\ 400.woff') format('woff');
  }

@font-face {
  font-family: 'Neue Montreal-medium';
  src: url('../font/ppneuemontreal-medium.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal-semi';
    font-style: normal;
    font-weight: normal;
    src: local('Neue Montreal-semi'), url('../font/ppneuemontreal-semibolditalic.woff') format('woff');
  }

@font-face {
  font-family: 'Neue Montreal-bold';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Montreal-bold'), url('../font/ppneuemontreal-bold.woff') format('woff');
}


*{
    margin: 0;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none;
}


body {
  color: #4b5b70;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
  background-color: #fff;
}


/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    padding: 0 5%;

}
nav .logo { 
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: baseline;
    font-size: 24px;
    color: #fff;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
nav .links li {
    list-style: none;
    padding-bottom: 16px;
}
nav .links a {
    display: block;
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin: 0;
}
nav .links a:hover {
    color: white;
}
nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: white;
}
#nav-toggle {
     position: absolute;
     top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 12%;
    transform: translateY(-50%);
    z-index: 100;
}
nav .icon-burger .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 7px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 100%;
        right: 0;
        top: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 26px;
    }
    nav :checked ~ .links {
        left: 0;
    }
    nav .icon-burger {
        display: block;
        /* position: fixed;
        top: 70px; */
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    nav .links li {
        list-style: none;
        padding-bottom: 35px;
    }
}

/*--------------------------------------------------------------
# header End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# loading
--------------------------------------------------------------*/

  .loading-block {
    position: fixed;
    background: #ffffff;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loading-block_logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.loading-block_logo img {
    width: 260px;
}

.fadeUp {
    opacity: 0;
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeUpAnime {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0;
        transform: translateY(100px);
    }
}
  
/*--------------------------------------------------------------
# loading End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.progress-wrap {
	position: fixed;
    right: 15px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 20%);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: #000000;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
/* 	background-image: linear-gradient(298deg, var(--red), var(--yellow)); */
    /* background-color: #000; */
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: #000000af;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


  /*--------------------------------------------------------------
  # footer
  --------------------------------------------------------------*/

    .footer-top {
        margin-bottom: 20px;
    }

    .footer-dsclinx{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-dsclinx h1{
        color: #B1B1B1;
        font-family: 'Neue Montreal-medium';
        font-size: 13vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .footer-details p{
        color: #000;
        font-family: 'Neue Montreal-regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0;
    }

    .Copyright {
        display: flex;
        justify-content: end;
    }

    .Copyright p{
        margin: 0;
        padding: 0;
        color: #000;
        font-family: 'Neue Montreal-regular';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -50px;
    }

    @media(max-width:992px) {
    .logo-dsclinx h1 {
        color: #B1B1B1;
        font-family: 'Neue Montreal-medium';
        /* font-size: 130.92px; */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .Copyright p {
        margin: 0;
        padding: 0;
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -20px;
    }
    }

@media(max-width:768px) {
    .logo-dsclinx h1 {
        color: #B1B1B1;
        font-family: 'Neue Montreal-medium';
        /* font-size: 100.92px; */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .Copyright p {
        margin: 0;
        padding: 0;
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0px;
    }
    .footer-details p {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0;
        margin-bottom: 10px;
    }

}
    @media(max-width:600px) {
    .footer-dsclinx {
        display: block;
        padding-top: 15px;
    }  
    .Copyright {
        display: flex;
        justify-content: flex-start;
    }
    .footer-details {
        display: flex;
        column-gap: 14px;
        padding-bottom: 10px;
    }
    .head-together h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    }

  /*--------------------------------------------------------------
  # footer End
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # contact-us
  --------------------------------------------------------------*/

.contact-us{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 100%; */
    position: relative;
}

.overlay {
    background-color: #000000a3;
    opacity: .5;
    transition: background .3s,border-radius .3s,opacity .3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.contact-txt {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.contact-txt h1{
    color: #FFF;
    text-align: center;
    font-family: 'Neue Montreal-regular';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contact-txt p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


.lets-together{
    padding-top: 25px;
}

.conatct-line{
    padding-left: 0px;
}

.grid-social{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.social-sec{
    display: flex;
    justify-content: space-between;
}

.card-social{
    border-bottom: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    padding: 26px 35px;
}

.social-inner-div {
    height: 230px;
}

.line {
    border: 1px solid #B1B1B1;
}

.social-num{
    color: #B1B1B1;
    font-family: 'Neue Montreal';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style: none;
}

.social-sec h6{
    color: #000;
    text-align: right;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social-sec i{
    color: #000;
}

.head-together{
    padding: 29px 20px;
}

.head-together h1{
    color: #000;
    font-family: 'Neue Montreal-medium';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0px;
    height: 60px;
}

.form-group{
    padding-bottom: 15px;
}

.conatct-form{
    padding-top: 40px;
}

.submit-form{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 55px;
}

  .butn-circle {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* background: #fff; */
    color: #B1B1B1;
}

  .butn-circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

  .butn-circle:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.butn-circle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000000;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.butn-circle:hover span{
    color: #ffffff;
}

.butn-circle span {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    position: relative;
    z-index: 2;
}

  .form-check-input:checked {
    background-color: #000000;
    border-color: #ffffff;
}


@media(max-width:992px) {
    .contact-txt h1 {
        color: #FFF;
        text-align: center;
        font-size: 63px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .contact-txt p {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .head-together h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .card-social {
        border-bottom: 1px solid #B1B1B1;
        border-left: 1px solid #B1B1B1;
        border-right: 0px solid #B1B1B1;
    }
    .conatct-line{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:768px) {
    .contact-us img {
        object-fit: cover;
        height: 100%;
    }
    /* .contact-us {
        height: 100vw;
    } */
    .social-inner-div {
        height: 150px;
    }
}

@media(max-width:600px) {
    /* .grid-social {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } */
    .butn-circle {
        width: 120px;
        height: 120px;
    }    
    .contact-txt h1 {
        color: #FFF;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .logo-dsclinx h1 {
        padding-bottom: 10px;
    }
    .head-together {
        padding: 29px 0px;
    }
    .social-inner-div {
        height: 80px;
    }
    .card-social {
        padding: 15px 15px;
    }
    .social-sec h6 {
        font-size: 18px;
    }
    .social-sec {
        display: flex;
        justify-content: center;
        align-items: baseline;
        column-gap: 12px;
    }
}

  /*--------------------------------------------------------------
  # contact-us End
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/

  .about-section {
    padding-top: 54px;
    padding-bottom: 20px;
  }

  .section-about-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px; 
  }

  .about-inner-text {
    position: relative;
  }

  .ab-sect-contact {
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .grid-about-sect2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .sect2-about-outer{
    padding: 29px;
    border: 1px solid #B1B1B1;
  }

  .sect2-about-inner{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .square{
    width: 18px;
    height: 18px;
    background: #D9D9D9;
  }

  .sect2-about-inner p {
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .about-sect2-height{
    height: 87px;
  }

  .about-inner-text span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .about-inner-text h1{
    color: #000;
    font-family: 'Neue Montreal-medium';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .about-inner-text p{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 476px;
  }

  .sect2-about-outer p {
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

.why-us{
    background-image: url('../images/pexels-gül-işık-11538103\ 1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* height: 100vh; */
    /* height: 530px; */
    position: relative;
}

.grid-why-us{
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 230px; */
    padding: 50px 15px 1px 15px;
}

.why-us-outer{
    /* padding-top:30px;
    padding-left: 18px; */
    width: 50%;
}

.why-us-outer span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.why-us-outer h1{
    color: #FFF;
    font-family: 'Neue Montreal-medium';
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.why-us-outer p{
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:470px;
}

.why-us-sect2-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #fff; */
    /* padding-top: 24px;   */
    position: relative;
    color: #fff;
    bottom: 40px;
}

.why-us-sect2-txt h6{
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.why-us-sect2-txt p{
    color: #FFF;
    text-align: right;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sect-2-whyus{
    width: 40%;
}

.why-us .sect-2-whyus{
    margin-left: auto;   
}

@media(max-width:993px) {
    .about-inner-text h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 54px;
    }
}

@media(max-width:992px) {
    .section-about-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 50px;
    }
    /* .grid-why-us {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 70px;
    } */
    .why-us-outer h1 {
        color: #FFF;
        font-family: 'Neue Montreal-medium';
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .about-inner-text p {
        color: #000;
        font-family: Neue Montreal;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }
}

@media(max-width:768px) {
    .why-us-outer h1 {
        color: #FFF;
        font-family: 'Neue Montreal-medium';
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    /* .grid-why-us {
        display: contents;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 70px;
    } */
    .why-us-outer {
        width: 100%;
    }
    .sect-2-whyus {
        width: 100%;
    } 
    .why-us {
        background-image: url(../images/pexels-gül-işık-11538103\ 1.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
    }
    .sect-2-whyus{
        padding-bottom: 30px;
        padding-left: 18px;
    }
} 


@media(max-width:600px) {
    .grid-about-sect2 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .about-inner-text h1 {
        color: #000;
        font-family: 'Neue Montreal-medium';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .why-us-outer h1 {
        color: #FFF;
        font-family: 'Neue Montreal-medium';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .sect-2-whyus{
        padding-bottom: 30px;
        padding-left: 0px;
    }
    .why-us-outer p{
        padding-top: 30px;
        padding-left: 0px;
        width: 100%;
    }
}

  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/

.service-txt {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-left: 5px;
}

.service-txt h1 {
    color: #FFF;
    font-family: 'Neue Montreal-regular';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 1040px;
}

.service-txt p {
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 480px;
}

.our-services span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.our-services h1{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.sect-our-services{
    padding-top: 100px;
    padding-bottom: 50px;
}

.grid-service{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 20px;
    gap: 15px;
    padding-bottom: 20px;
}

.sect2-service-outer {
    padding: 29px;
    border: 1px solid #B1B1B1;
}

.sect2-service-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sect2-service-outer p {
    color: #000000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.service-sect2-height {
    height: 150px;
}

.sect2-service-inner i{
    color: #B1B1B1;
}

@media(max-width:1100px) {
    .service-txt h1 {
        width: 100%;
    }
}

@media(max-width:992px) {
    .our-services h1 {
        font-size: 70px;
    }
}

@media(max-width:768px) {
    .service-txt p {
        width: 100%;
    }
    .grid-service {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 20px;
        gap: 15px;
        padding-bottom: 20px;
    }
    .our-services h1 {
        font-size: 50px;
    }
    .service-txt h1 {
        color: #FFF;
        font-family: 'Neue Montreal-regular';
        font-size: 63px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}

@media(max-width:768px) {
    .service-txt h1 {
        color: #FFF;
        font-family: 'Neue Montreal-regular';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .grid-service {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-top: 20px;
        gap: 15px;
        padding-bottom: 20px;
    }
    .our-services h1 {
        font-size: 40px;
    }
}


  /*--------------------------------------------------------------
  # Projects
  --------------------------------------------------------------*/

  .grid-projects {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }

  .proj-card {
    border: 1px solid #B1B1B1;
    border-radius: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    padding: 20px;
    cursor: pointer;
  }

  .our-projects{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .card-title{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  @media(max-width:992px) {
    .grid-projects {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
      }    
  }

  @media(max-width:768px) {
    .grid-projects {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
      }    
  }

  @media(max-width:600px) {
    .grid-projects {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
      }    
  }


  /*--------------------------------------------------------------
  # supplies
  --------------------------------------------------------------*/

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 0;
    background: #656565;
    opacity: 2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.supplies-inner-txt{
    position: absolute;
}

.supplies-inner-txt h1{
    color: #FFF;
    text-align: center;
    font-family: Neue Montreal-medium;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.supplies-inner-txt p{
    color: #FFF;
    text-align: center;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media(max-width:600px) {
    .swiper {
        width: 100%;
        height: 100vh;
      }
}

.swiper-slide {
    opacity: 0 !important;
    transition: 0.3s;
}
.swiper-slide-active {
    opacity: 1 !important;
}
.swiper-slide > .hero-super {
    transform: translateY(-30px);
    opacity: 0;
    transition-duration: 0.8s;
}
.swiper-slide-active > .hero-super {
    transform: none;
    opacity: 1;
}
.swiper-slide > .hero-img {
    transition-duration: 0.8s;
    transform: scale(1.1);
    opacity: 0;
}
.swiper-slide-active > .hero-img {
    opacity: 1;
    transform: scale(1);
}
.hero {
    position: relative;
}
.hero .overlay-black {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #000; */
    z-index: 3;
}
/* .hero .logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 72px;
    z-index: 3;
} */
@media screen and (max-width: 768px) {
    .hero-img {
        height: 350px;
   }
}
.hero-super {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    z-index: 3;
    transition-delay: 0.2s;
}
.hero-super h1{
    color: #FFF;
    /* text-align: center; */
    font-family: Neue Montreal-medium;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.hero-super p{
    color: #FFF;
    /* text-align: center; */
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
@media screen and (max-width: 992px) {
    .hero-super {
        font-size: 36px;
   }
}
@media screen and (max-width: 768px) {
    .hero-super {
        font-size: 32px;
   }
}
.hero .nav-carousel {
    position: absolute !important;
    bottom: 40px !important;
    left: 40px !important;
    display: flex !important;
    height: auto !important;
    top: auto !important;
    padding: 0 !important;
    align-items: center;
    gap: 16px;
    transform: scale(1);
    z-index: 3;
}
.hero .nav-carousel .button-prev, .hero .nav-carousel .button-next {
    transition: transform 0.3s ease-in-out;
}
.hero .nav-carousel .button-prev:hover, .hero .nav-carousel .button-next:hover {
    transform: scale(1.1);
}
.hero .nav-carousel .pagination > .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #656565;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
}
.hero .nav-carousel .pagination > .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 13px;
    border-radius: 0px;
}
.hero .nav-carousel .pagination > .swiper-pagination-bullet:hover, .hero .nav-carousel .pagination > .swiper-pagination-bullet-active:hover {
    background-color: #000;
}

.what-we-supply {
    padding-top: 80px;
    padding-bottom: 80px;
}

.what-we-supply-sec span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}   

.what-we-supply-sec h1{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 1000px;
}

.what-we-supply-sec p{
    color: #000;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 400px;
}

.supply-top{
    padding-top: 25px;
}

.img-supply-txt{
    position: absolute;
    bottom: 23px;
    display: flex;
    text-align: end;
    flex-direction: column;
    right: 48px;
}

.img-supply-txt span {
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.img-supply-txt h4 {
    color: #FFF;
    text-align: right;
    font-family: Neue Montreal-regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.supply-set-2 p{
    color: #000;
    font-family: Neue Montreal;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 19px;
}

.supply-line {
    border: 0.1px solid #000000db;
}

.supplies-divsec-2{
    padding-top: 56px;
}

  /*--------------------------------------------------------------
  # why our supply
  --------------------------------------------------------------*/

.why-our-supply span{
    color: #B1B1B1; 
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.why-our-supply h3{
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.our-supply-txt {
    margin-top: 32px;
}

.our-supply-txt li {
    color: #000;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding-bottom:12px;
}

.sec-why-our-supply{
    padding-bottom: 70px;
}

@media(max-width:992px) {
    .what-we-supply-sec h1 {
        width: 100%;
        font-size: 50px;
    }
    .supply-set-2 {
      margin-top: 40px;
    }
    .img-supply-txt h4 {
        font-size: 30px;
    }
    .hero-super h1 {
        font-size: 63px;
        }
}

@media(max-width:600px) {
    .what-we-supply-sec h1 {
        font-size: 40px;
    }
   .hero-super h1 {
    font-size: 40px;
    }
}

  /*--------------------------------------------------------------
  # projects-details
  --------------------------------------------------------------*/

.project-details{
    padding-top: 50px;
    padding-bottom: 50px;
}

.pd-nner {
    padding-bottom: 25px;
}

.pd-nner p{
    color: #000;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 900px;
}

.grid-pd{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

@media(max-width:992px) {
    .grid-pd{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
    }
    .pd-nner p{
        color: #000;
        font-family: Neue Montreal;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 100%;
    }
}

@media(max-width:992px) {
    .grid-pd{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .project-details {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

  /*--------------------------------------------------------------
  # index page
  --------------------------------------------------------------*/

  .elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

@media (min-width: 768px){
.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
}
}

.elementor-element {
    --widgets-spacing: 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-column {
    position: relative;
    min-height: 1px;
    display: flex;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}

.elementor-31 .elementor-element.elementor-element-eba4ade>.elementor-element-populated {
    padding: 0;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.elementor-31 .elementor-element.elementor-element-90ec6ad {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 95px 0;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-element {
    --widgets-spacing: 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-section {
    position: relative;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
    padding: 130px 0;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 768px){
.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
}
}
.elementor-element {
    --widgets-spacing: 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-column {
    position: relative;
    min-height: 1px;
    display: flex;
}

.elementor-31 .elementor-element.elementor-element-84287df>.elementor-element-populated {
    padding: 0 30px 65px;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-element {
    --widgets-spacing: 20px;
}

.elementor-31 .elementor-element.elementor-element-4ab3e8b>.elementor-widget-container {
    margin: 0 0 30px;
}

.elementor-element .elementor-widget-container {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
    color: #fff;
}

.ekit-wid-con .elementskit-section-title-wraper.center, .ekit-wid-con .elementskit-section-title-wraper.text_center {
    text-align: center;
}
.ekit-wid-con .ekit-heading {
    position: relative;
}


.elementor-31 .elementor-element.elementor-element-4ab3e8b .elementskit-section-title-wraper .elementskit-section-title {
   color: #fff;
    font-family: 'Neue Montreal';
    font-size: var(--e-global-typography-d6435a8-font-size);
    font-weight: var(--e-global-typography-d6435a8-font-weight);
    line-height: var(--e-global-typography-d6435a8-line-height);
    letter-spacing: var(--e-global-typography-d6435a8-letter-spacing);
    word-spacing: var(--e-global-typography-d6435a8-word-spacing);
}

.ekit-wid-con .elementskit-section-title span {
    color: #FFF;
    font-family: Neue Montreal-medium;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ekit-heading--title{
    color: #FFF;
    font-family: Neue Montreal-medium;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.elementor-31 .elementor-element.elementor-element-4ab3e8b .elementskit-section-title-wraper .elementskit-section-title {
color: #fff;
    font-family: var(--e-global-typography-d6435a8-font-family),Sans-serif;
    font-size: var(--e-global-typography-d6435a8-font-size);
    font-weight: var(--e-global-typography-d6435a8-font-weight);
    line-height: var(--e-global-typography-d6435a8-line-height);
    letter-spacing: var(--e-global-typography-d6435a8-letter-spacing);
    word-spacing: var(--e-global-typography-d6435a8-word-spacing);
}

.ekit-heading--title .elementskit-section-title {
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.elementor-widget-container p {
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
}


@media(max-width:600px) {
    .ekit-heading--title {
        color: #FFF;
        font-family: Neue Montreal-medium;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ekit-wid-con .elementskit-section-title span {
        color: #FFF;
        font-family: Neue Montreal-medium;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media(max-width:460px) {
    .ekit-heading--title {
        color: #FFF;
        font-family: Neue Montreal-medium;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ekit-wid-con .elementskit-section-title span {
        color: #FFF;
        font-family: Neue Montreal-medium;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


  .banner-txt {
    position: relative;
    top: 38%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 1034px;
}

  .banner-txt h1{
    color: #FFF;
    text-align: center;
    font-family: 'Neue Montreal-regular';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    margin: 0;
    margin-top: -16px;
  }

  .banner-txt h1 span{
    color: #FFF;
    text-align: center;
    font-family: 'Neue Montreal-regular';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .banner-txt p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
}

.banner-txt span {
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.banner-under-sect{
    /* padding-top: 60px; */
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
     /* top: 40%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 1000px; */
}

.banner-under-sect p{
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    width: 400px;
}

/* button */

.butn-wht-circle {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* background: #fff; */
    color: #ffffff;
}

  .butn-wht-circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

  .butn-wht-circle:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.butn-wht-circle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.butn-wht-circle:hover span{
    color: #000000;
}

.butn-wht-circle span {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    position: relative;
    z-index: 2;
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 20px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
}

.btn-primary{
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    border-radius: 0px;
    width: 182px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Neue Montreal;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.our-serv {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-serv-txt span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.our-serv-txt h1{
    color: #000;
    font-family: Neue Montreal-medium;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.our-serv-p {
    display: flex;
    justify-content: end;
}

.our-serv-p p{
    color: #000;
    text-align: right;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 626px;
}

.our-serv-proect{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top:20px;
}

.grid-our-serve{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card-our-serv {
    border: 1px solid #B1B1B1;
    padding: 26px 35px;
}

.card-our-serv p {
    color: #000;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sect2-our-serv-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sect2-our-serv-inner p{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-serv-sect2-height {
    height: 100px;
}

#btn-2 {
    display: none;
}

@media(max-width:1024px) {
    .banner-txt h1 {
        color: #FFF;
        text-align: center;
        font-size: 80px;
    }    
    .banner-txt h1 span {
        font-size: 80px;
    }
}
    .ab-sect-contact {
        margin-bottom: auto;
        /* position: inherit; */
        bottom: 0;
        display: flex;
        right: 0;
        justify-content: end;
        padding-bottom: 18px;
    }

    @media(max-width:992px) {
        .our-serv-txt h1 {
            color: #000;
            font-family: Neue Montreal-medium;
            font-size: 47px;
        }
    }

    @media(max-width:768px) {
        .grid-our-serve {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        #btn-1 {
            display: none;
        }
        #btn-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
        }
        .our-serv-proect {
            display: block;
            padding-top: 20px;
        }
        .our-serv-p {
            display: flex;
            justify-content: center;
        }
        .our-serv-p p {
            text-align: left;
            width: 100%;
        }
    }

    @media(max-width:600px) {
        .our-serv-txt h1 {
            font-size: 40px;
        }
        .banner-txt h1 {
            color: #FFF;
            text-align: center;
            font-size: 50px;
        }
        .banner-txt h1 span {
            font-size: 50px;
        }
        .banner-under-sect p {
            width: 60%;
        }
        .banner-under-sect {
            display: none;
            /* top: 60%; */
            /* display: block; */
        }
        .contact-div {
            bottom: 100px;
        }
        .ab-sect-contact {
            margin-bottom: auto;
            position: inherit;
            bottom: 0;
            display: flex;
            right: 0;
            justify-content: center;
            padding-bottom: 18px;
        }
    }





/* testimonials */

.testi-outer {
    background-image: url('../images/pexels-gül-işık-11538103\ 1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* height: 100vh; */
    /* height: 530px; */
    position: relative;

}

.testi-header{
    padding-top: 45px;
    padding-left: 100px;
}

.testi-header span{
    color: #B1B1B1;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


.testi-header h1{
    color: #FFF;
    font-family: Neue Montreal-regular;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.testim {
width: 100%;
/* position: absolute;
top: 50%;
-webkit-transform: translatey(-50%);
-moz-transform: translatey(-50%);
-ms-transform: translatey(-50%);
-o-transform: translatey(-50%);
transform: translatey(-50%); */
}

.carousel {
    position: relative;
    padding: 70px 20px;
}

.carousel-control-next, .carousel-control-prev {
    position: inherit;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
    border: 1px solid;
    border-radius: 50%;
}

.says h5{
    color: #FFF;
    text-align: center;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.says h5 span{
    color: #B1B1B1;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.says p{
    color: #FFF;
    text-align: center;
    font-family: Neue Montreal-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

@media(max-width:992px) {
    /* .testi-outer {
        height: 100%;
    } */
    .testi-header h1 {
        font-size: 54px;
    }
    .carousel-control-next, .carousel-control-prev {
        position: inherit;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}

@media(max-width:768px) {
    .testi-header h1 {
        font-size: 40px;
    }
    .testi-header {
        padding-top: 45px;
        padding-left: 30px;
    }
    .testi-outer {
        height: 100%;
    }
}



.work-with h1{
    color: #000;
    font-family: Neue Montreal-medium;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    }


    @media(max-width:600px) {
        .work-with h1 {
            font-size: 40px;
        }
    }
    

    .carousel-wrap {
    /* margin: 90px auto; */
    padding: 20px 0px 50px 5%;
    /* width: 80%; */
    position: relative;
    }
    
    .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
    border: 1px solid #B1B1B1;
    padding: 18px 30px;
    height: 300px;
    }
    
    .owl-nav {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-top: 40px;
    }
    /* end fix */
    .owl-nav > div {
    /* margin-top: -26px;
    position: absolute;
    top: 50%; */
    color: #cdcbcd;
    }
    
    .owl-prev i {
        background-image: url('../images/ep_prev.png');
        color: #B1B1B1;
    }

    .owl-next i {
        background-image: url('../images/ep_next.png');
    }

    .owl-nav i {
    font-size: 52px;
    /* background-image: url('../images/arrow-up.png'); */
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
    border: 1px solid;
    border-radius: 50%;
    }
    
    .owl-nav .owl-prev {
    left: -30px;
    }
    
    .owl-nav .owl-next {
    right: -30px;
    }

    .our-works {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.our-works span {
color: #B1B1B1;
font-family: Neue Montreal;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 12px;
}   

.item-name {
color: #000;
font-family: Neue Montreal-regular;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
padding-top: 12px;
}

.owl-carousel .owl-item img {
    padding: 35px;
    height: 170px;
    object-fit: contain;
}

.company-works{
    padding-top: 70px;
    padding-bottom: 40px;
}

@media(max-width:600px) {
    .owl-carousel .owl-item img {
        padding: 15px;
        height: 170px;
        object-fit: contain;
    }
    .carousel-wrap {
        padding: 20px 0px 0px 5%;
    }
}

.progress-bar {
    /* border: 1px solid #ccc; */
    height: 2px;
    margin-bottom: 70px;
    position: relative;
    overflow: visible;
    display: block;
}

.progress-bar-inner {
    width: 0;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
}

.progress-text {
    color: #000;
}

@media(max-width:768px) {
    .progress-container {
        margin-top: 72px
    }
}